[2018-05-18 19:26] david-macmahon opened #1 "Throttle large rawspec dumps"
Dumps with many fine channels can be large.  For example, each dump of 64 coarse channels that have been channelized into 64M fine channels is 256MB of data.  It would be nice if rawspec were able to throttle the "instantaneous" data rate to be half the actual rate.  If these 256 MB dumps occur every 16 seconds, it would be great to write out the data over the span of 8 seconds (32MB/s).  This wil

[2018-05-18 19:30] david-macmahon opened #2 "Add ability to specify polarization mode on a per output product basis"
Currently, the options are to do "Stokes I" total power for all output products or full cross pol power for all output products.  It would be nice to be able to specify this independently for each output product.

[2018-05-18 19:31] david-macmahon opened #3 "Add HDF5 output option"
Instead of just outputting to filterbank files, add ability to output to HDF5 files.  Ideally this would be selectable on a per output product basis.

[2018-05-18 22:41] david-macmahon opened #4 "Use correct telescope ID in filterbank output"
Should pay attention to the TELESCOP header value from the RAW file (or status buffer)

[2018-05-21 00:35] david-macmahon opened #5 "Add ability to select which GPU in multi-GPU system"

[2018-05-21 20:36] #2 closed, assigned to david-macmahon

[2018-05-21 20:36] #4 closed, assigned to david-macmahon

[2018-05-21 20:36] #5 closed, assigned to david-macmahon

[2018-05-21 20:38] #1 closed, assigned to david-macmahon

[2020-10-15 23:28] dmkunsman commented on #3
Is this still an open issue.  I was thinking about taking it up.

[2020-10-15 23:59] david-macmahon commented on #3
Yes, it's still open.  It would be great to have this capability.  It would be even better if the HDF5 files were compatible with the "HDF5-ification" of Filterbank files that is performed by Breakthrough Listen's `fil2h5.py` script.  I'm trying to find a canonical reference for that process, but so far I haven't found anything other than the [`__write_to_hdf5_light`](https://github.com/UCBerkeley

[2020-10-16 00:00] david-macmahon commented on #3
Please let me know if I can provide any more details for you.  Thanks!!!

[2020-10-16 00:05] dmkunsman commented on #3
I have a more general question about raw spec.  Do you think this codebase would be a good springboard for start from if I wanted to try to implement a klt algorithm on guppi files?

[2020-10-16 00:55] david-macmahon commented on #3
Rawspec makes heavy use of CuFFT, so if FFTs are good for KLT then rawspec could be a good springboard.  Other than that I guess rawspec would provide a nice C-based introduction to reading GUPPI RAW files in general.

[2020-11-16 20:29] siemion opened #6 "individual filterbank output"
Add the ability to output individual filterbank files from multi-antenna input rather than quasi-compliant "multi-antenna filterbank"

[2020-11-16 20:33] siemion opened #7 "incoherent sum mode"
For multi-antenna input, add the ability to optionally and concurrently output an incoherently summed data product with an optional set of per-antenna weights.

[2020-11-16 20:34] siemion opened #8 "complex filterbank output"
Add the ability to output complex filterbank output (complex fourier coefficients) concurrently or in place of Stokes I, XX or YY.

[2020-11-16 20:38] david-macmahon commented on #8
What does this mean?  The cross-polarization mode already outputs real(XY*) and imag(XY*).

[2020-11-16 20:56] siemion commented on #8
This would be to acquire just the individual complex Fourier components after channelization for extracting small parts of the band following candidate identification.

[2020-11-16 22:00] david-macmahon commented on #8
I think this would be better handled by a separate program and certainly a different output format than filterbank which has no provision for indicating A) that the data are voltages or B) that the data are complex.  It's not like these "voltage filterbank" files would be usable with any existing software that reads filterbank files, so why shoe horn it into that file format?

[2020-11-17 19:52] jack-h commented on #8
Is there an existing (i.e. used by BL) file format which is a reasonable to use for this? -- is it just `.raw` ?

[2020-11-17 20:09] siemion commented on #8
This particular output mode would (typically) only be used for interim storage, so wouldn't need to be a fully formed archival format.  Note that when I said "complex filterbank" I was using filterbank in the generic sense rather than the specific Filterbank format sense.  In the envisioned use, select voltages would be extracted as a snapshot around candidates of interest.  What format these shou

[2020-11-17 20:13] siemion commented on #8
Also per the suggestion about a separate program, in normal usage of this mode we would generate both the voltage and detected products simultaneously, and rawspec already does the latter, so having it be able to output the voltages as well would be ideal.  Also would save having to do the channelization twice.

[2020-11-17 23:15] david-macmahon commented on #8
Sending incoming 8-bit coarsely channelized voltage data to the GPU further channelization and then recording the resultant finely channelized 32-bit floating point voltage data would increase the volume and rate of the recorded data by a factor of 4x, which would mean a 4x reduction in bandwidth capacity per node vs recording just the 8-bit coarsely channelized voltages to begin with.

[2020-11-18 00:04] jack-h commented on #8
I assume the intention would be to keep only a small number of the
channels(?)
But I'm not sure it isn't easier to just write a new tool to extract a
sub-coarse channel window from a raw file if there is a small band of
interest.

On Tue, 17 Nov 2020, 11:16 pm david-macmahon, <notifications@github.com>
wrote:

[2020-11-18 15:24] jack-h commented on #6
As a first approach, we're going to implement a flag to select a single antenna from a raw file to generate the output .fil . Can easily parallelize over antennas to get all the files

[2020-11-18 16:45] david-macmahon commented on #6
rawspec already supports a user-specified subset of coarse channels that can be used to process only channels from a single antenna.  No need to add anything special for that.  The only drawback is reading the RAW file multiple times.

[2020-11-18 16:48] jack-h commented on #6
but not a sub-coarse channel selection, right?

On Wed, 18 Nov 2020 at 16:45, david-macmahon <notifications@github.com>
wrote:

[2020-11-18 17:10] david-macmahon commented on #6
You can't read a sub-coarse channel on input.  On the write side it currently writes out all fine channels for the coarse channels you select.  If you want the ability to output a subset of the generated fine channels, it's probably better as a separate issue/feature request since it's orthogonal to selecting a single antenna from a RAW file.

[2020-11-18 17:11] jack-h commented on #6
Ha -- I'm responding to this in email. I totally thought this was the other
issue.

On Wed, 18 Nov 2020 at 17:10, david-macmahon <notifications@github.com>
wrote:

[2020-11-18 18:02] RocketRoss commented on #8
A 3 part solution seems to cover all grounds of this, and may better highlight any misunderstandings in the goal of this issue.

Just rehashing the context, in case there is a misnomer: the current overall setup (of which rawspec is but a part) produces products that are used to determine if any sub-band of the input is of interest. Storing the fine channelisation ("complex fourier coefficients")

[2020-11-18 18:02] RocketRoss commented on #6
So all that would be needed is an interface ontop of the coarse channel selection that works off of antenna selection. I can see it

I don't see why the file would have to be read any more times for antenna selection.

[2020-11-18 18:18] jack-h commented on #6
You would have to run raw_spec N times with different flags to generate N
antennas -- rather than reading it once and writing all the files. It's not
obvious [to me] what the speed penalty for doing that is, you're still
reading ~the same number of bytes total, just not in one contiguous block.

On Wed, 18 Nov 2020 at 18:03, RocketRoss <notifications@github.com> wrote:

[2020-11-18 18:34] jack-h commented on #8
I think what you're describing matches my understanding.

When combined with the ability to process single coarse channels (which
already exists) the two features:

1. raw_spec can output voltages (not powers) in some file format TBC
2. raw_spec can output only a subset of the fine channels it generates

combined serve the intentions of this PR.

On Wed, 18 Nov 2020 at 18:02, RocketRoss <notificat

[2020-11-23 19:27] wfarah opened #10 "Check DIRECTIO flag when reading data"
An assumption (which might be true for most of the cases) is that `BLOCSIZE` is always a multiple of 512, and so the rawspec reader does not check for the DIRECTIO flag when reading data payload. With ATA data, the packet format is flexible and dynamic enough such that this alignment might not always be true.

TODO: add logic to seek to the next multiple of 512 when reading data in if DIRECTIO hea

[2020-12-23 06:19] dmkunsman commented on #6
This still open.  Anyway I could help with this?

[2020-12-23 08:03] RocketRoss commented on #6
@dmkunsman I have implemented it in 2 ways:
#9 provides `-a ANT` which enables selective processing of a single antenna's channels. There exists an understanding that there may be a way to bash script parallel rawspec calls to process each antenna within the RAW data. The PR has received a first round of review from @david-macmahon.

#11 provides `-s` which instructs rawspec to split the output by

[2020-12-23 08:05] RocketRoss commented on #6
I have a local branch that has merged #9, #11 and #12, and it is currently in use at SETI-ATA. So these are compatible PRs.

[2020-12-23 18:08] RocketRoss commented on #6
[This](https://drive.google.com/file/d/1rosmrLY_2vV_5IVqY8pnXtcwjI0QGcmu/view?usp=sharing) is the RAW GUPPI file I used...

[2021-02-19 13:27] RocketRoss opened #14 "Inferred limit on FFT size: res_desc.res.pitch2D.width = 1<<15;"
Increasing the FFT size past the PIPERBLK of the RAW data to be processed increases the number of blocks that are processed at a time. At a point though the `buf_size` exceeds 2^15*2^15, which results in an error being raised in the creation of the load_callback's texture object:

[L611-637](https://github.com/UCBerkeleySETI/rawspec/blob/master/rawspec_gpu.cu#L611-L637)
[code]

Error:
[code]

Why

[2021-02-20 01:10] david-macmahon commented on #14
The "free" conversion from 8-bit integer to 32-bit float happens via the "texture object" (aka "texture reference") feature of the CUDA GPU.  The texture object needs to cover the entire 8-bit input buffer.  Using 1D textures limited the input buffer size to 2^28 (or 2^27 depending on the GPU's compute capability), which was too small so I switched to 2D textures.  The dimensionality of the textur

[2021-02-22 14:31] RocketRoss commented on #14
The 3090 I'm working with has the same limitations as the 2080Ti.

My [load_texture_width](https://github.com/MydonSolutions/rawspec/commit/a5b5c893e0dd0e90d84f5973e3f18a3aca5cc43a) branch off of master shows has the width dependent on one line.

I confirmed that the implementation outputs an equivalent filterbank file.
Bumping the width up to 1<<16 did enable the previously troublesome FFT size,

[2021-04-19 06:46] telegraphic opened #15 "Implement 'frequency scrunching' (averaging across frequency) to improve channel isolation"
It would be nice to be able to use rawspect to do a longer-than-required FFT, then average neighboring frequency channels together. This improves inter-channel isolation (@david-macmahon and I have confirmed this works!)

For example, if you had 100 MHz bandwidth data, and wanted spectra with 1 MHz channel, 100 us resolution you might do a 100-channel FFT then average in time until you reach 100 u

[2021-05-01 06:27] RocketRoss commented on #15
That doesn't seem far off from the implementation for [ICS](#13).. of course the kernel will have to accumulate across different indices, but the development isn't that long winded...
There are inferred [upper limits on FFT sizes](#14) too which would be nice to have raised, if not erased.

[2021-05-01 07:23] david-macmahon commented on #15
When producing multiple output products of different resolutions, rawspec currently performs FFTs at each resolution (i.e. length).  Because we require all the FFT lengths to be factors of a common overall size (i.e. the LCM of the highest resolution and the number of time samples per block), we could just do one long FFT (e.g. for the highest resolution product) and then channel average the outpu

[2021-05-01 07:36] RocketRoss commented on #15
That too is a cool reward for this...

So we'd start by developing frequency scrunching capabilities and then we'd develop that multiple FFT lengths merely triggers appropriate frequency scrunching.

I'd be happy to work on this if no-one else has the time...

[2021-05-01 08:01] david-macmahon commented on #15
I think they're kinda one and the same.  For the low-res products, we already integrate multiple FFT output spectra into one power spectrum, so the only change is to use a common FFT output buffer (i.e. the FFT output buffer for the highest res output product) and then change which channels get integrated where.  Knowing when to dump each power product is maybe a little tricky, and there might be

[2021-05-01 08:05] david-macmahon commented on #15
What will require (more) extra work is arranging for a long FFT even when only a short FFT is required (e.g. when a single 8 point FFT per coarse channel output product is requested).  I think we'll need to create another command line option for this to allow the user to specify the "coherent resolution" (the internal FFT size) which can be equal to or finer than the "incoherent resolution" (i.e.

[2021-09-10 15:53] texadactyl opened #19 "Enhancement request: Option to write HDF5 format output"
As of late, there is a lot of 2-phase spectra file creation:
1) Raw format --> Filterbank format (```rawspec```).
2) Filterbank format --> HDF5 format (```blimpy``` ```fil2h5``` or ```turbo_seti``` internally).

The Filterbank and HDF5 formats are logically consistent: same header fields (metadata) and spectra matrices.  So, in many cases, we are not gaining anything by keeping both forms around.

[2021-09-11 00:09] wfarah commented on #19
That would be great! I would suggest for testing this mode:
- Either create a synthetic GUPPI raw file with turboSETI, or obtain data with a telescope (ATA, MeerKAT, GBT...)
- Run rawspec on GUPPI file, produce a filterbank output
- Run rawspec on GUPPI file again with the proposed added feature, produce HDF5 file
- Convert filterbank file to HDF5
- checksum the 2 HDF5 files

[2021-09-14 18:46] texadactyl commented on #19
Almost forgot.  The NFPC value is used all over the search code employed by turbo_seti find_doppler.py.  There are 37 references to date.  So, having an accurate value is essential to search integrity.

[2021-09-15 19:32] RocketRoss opened #20 "cufftXtSetCallback returns cufft_rc = CUFFT_NOT_SUPPORTED - CUDA 11.4.1"
A segmentation fault was encountered when running rawspec (compiled with a prior CUDA version) on a machine with CUDA 11.4.1:
[code]

After recompiling with CUDA 11.4.1, the segmentation fault is replaced with a less helpful cuda_rc error:
`got error CUFFT_NOT_SUPPORTED at rawspec_gpu.cu:1029`

This rc comes from the `cufftXtSetCallback` call for the h_cufft_load_callback, and is defined as `CUFFT

[2021-09-15 19:54] wfarah commented on #20
FYI: we upgraded our NVIDIA drivers to accommodate the new A6000s, and we rolled the change on all our seti-nodes (i.e. also those with RTX3090s).
Having said that, @RocketRoss did see the same above issue when running the same rawspec on the RTX3090.

[2021-09-15 23:39] david-macmahon commented on #20
Have you rebuilt rawspec with the new CUDA version?

[2021-09-15 23:57] wfarah commented on #20
Yes, rawspec was rebuilt with the new nvidia driver

[2021-09-16 01:04] david-macmahon commented on #20
Are you sure you're getting matching rawspec and librawspec versions?  What does `rawspec -v` show?  If that looks good, can you please cherry-pick f95cb8d and check `rawspec -v` again after rebuilding?

The cufftXtSetCallback function is still supported and the only recent(ish) thing that seems like it might affect it was introduced in CUDA 11.2, but I can run `rawspec` built with CUDA 11.3.0 so

[2021-09-16 01:38] wfarah commented on #20
This is the output of `rawspec -v`
[code]

[2021-09-16 02:00] david-macmahon commented on #20
Those match, which is good, but please also cherry-pick the commit I mentioned and run that again.  That commit adds the cuFFT version to the librawspec output.

Alternatively, you could run `ldd $(type -p rawspec)` (or `ldd /full/path/to/rawspec`) to make sure that you are picking up the `librawspec.so` file that you are expecting.

[2021-09-16 02:07] david-macmahon commented on #20
Is it possible this error is actually occurring earlier, but only gets reported after calling `cufftXtSetCallback`?

[2021-09-16 05:58] RocketRoss commented on #20
There [is](https://github.com/MydonSolutions/rawspec/blob/seti_ata/rawspec_gpu.cu#L1012-L1030) an `if cuda_rc != SUCCESS` just before the cufftXtSetCallback, so it's not a delayed catch.

I'll cherry pick and find some 8bit raw files soon. Thanks!

[2021-09-16 09:07] RocketRoss commented on #20
So, `f96cb8d` produced `rawspec using librawspec 2.4.1+dirty cuFFT 10.5.1.100`
 And running it on an 8bit file showed no issues. Then, running my [latest branch](https://github.com/MydonSolutions/rawspec/tree/seti_ata) on the 8bit file, also showed no issues. So, I'll be tracking down what the 4bit capability introduces that causes the issue and sorting it out on that branch on my fork.

 I don't

[2021-09-16 10:55] RocketRoss commented on #20
After scratching around and not seeing how the 4bit capabilities could possibly affect the plans, I found that the issue is more definitely linked to the FFT size passed in. Re-approaching the original 4bit raw file:

[code]

I'll convert it 8bit and see if the issue is exactly the same then..

[2021-09-21 16:25] RocketRoss commented on #20
The PIPERBLK value of the RAW files that provoked the CUFFT_NOT_SUPPORTED error had prime factors of 2 and 2621, while the RAW files that were successfully processed had a PIPERBLK value with prime factors of 2, 7 and 13.

I recall reading somewhere that the largest prime factor allowed is 13, but cannot find such a statement anywhere in documentation. The [CuFFT](https://docs.nvidia.com/cuda/cuff

[2021-09-21 16:25] #20 closed

[2021-09-21 16:31] RocketRoss commented on #14
I've been revisiting this issue in order achieve `-f 262144` with a RAW file of 6400 channels (5 antennae of 1280 coarse channels).

My findings are that the `cudaErrorMemoryAllocation` arises when the GPU doesn't have enough memory (of course!), and that the CPU soft lockups have been mitigated by disabling IOMMU in BIOS.

As a footnote, the above mentioned rawspec run (with ICS) uses up 43 GB of

[2021-09-22 21:20] david-macmahon commented on #20
I think the cuFFT reference you're searching for is https://docs.nvidia.com/cuda/cufft/index.html#accuracy-and-performance

Basically, FFT lengths with prime factors up to and including 127 will be (relatively) efficient.  For FFT lengths with prime factors larger than that, cuFFT will resort to using Bluestein's algorithm, which is less efficient in terms of both time and memory requirements.  As

[2021-10-29 21:23] texadactyl commented on #3
Commandeered by issue #19

[2021-10-29 21:23] #3 closed

[2021-11-04 14:29] texadactyl opened #23 "When initialization fails, exit status = 0"
While running rawspec as a step in a bash script, it would be helpful if a non-zero exit status was returned to the shell when initialisation fails.  I suggest making the following one line change in rawspec.c:

[code]

Console log:
[code]

[2021-11-04 16:00] texadactyl opened #24 "Makefile line 86 uses the wrong variable for compiling"
This line 86:
[code]
should be this:
[code]
cc: @David-McKenna

[2021-11-04 17:37] texadactyl commented on #24
The variable HOST_COMPILER is conditionally set on line 11.  So, if this variable was exported to the environment prior to running ```make```, then the environment version would take precedence over the Makefile assignment.  But, line 86 does not take advantage of this potential change of compiler executables.

The suggested change makes the test utility compilation consistent with the compilation

[2021-11-04 17:39] texadactyl commented on #24
It looks like the other *.c compilations also need the same change.

[2021-11-04 17:41] texadactyl commented on #24
I think that I was confused by the name HOST_COMPILER.

[2021-11-04 17:41] #24 closed

[2021-11-06 07:34] RocketRoss commented on #14
#22 not only lessens the memory usage but also provides premonitory error messages when detecting that memory usage exceeds the device memory.

[2021-11-06 07:34] #14 closed

[2021-11-06 07:37] RocketRoss commented on #7
@texadactyl This could be closed now: 6fab77160b87cc56a642f66f50529bed9ffa45a6 🎉

[2021-11-06 07:37] RocketRoss commented on #6
6fab77160b87cc56a642f66f50529bed9ffa45a6 closes this too.

[2021-11-06 11:21] #23 closed

[2021-11-06 11:26] texadactyl opened #28 "rawspectest requires external program (nvidia-smi) to see gpu memory utilisation"
rawspectest uses one GPU: 0.  Instead of sleeping 10 seconds and quickly alt-tabbing to another terminal to run ```nvidia-smi```, I have modified rawspectest.c and Makefile to use the CUDA API to fetch the information and printf it.

[2021-11-06 11:40] #28 closed

[2021-11-06 12:05] texadactyl opened #30 "ATA guppi_59447_17004_6377981_frb180916_0001.0000.raw --> Segmentation fault"
Tried to assign this to @RocketRoss but was not able to.
```guppi_59447_17004_6377981_frb180916_0001.0000.raw``` is a 4-bit file per @wfarah .

Stdout:
[code]

Note rawspec_gpu.cu, starting at line 462:
[code]

[2021-11-06 16:12] texadactyl commented on #7
@RocketRoss
I'll take it that you or someone else in ATA has fully tested this request.
True?  If so, then this issue can be closed.
Pity you are not on Seti slack!

cc: @wfarah

[2021-11-06 20:25] texadactyl commented on #7
Okay, "@radonnachie" found me on seti slack.

[2021-11-06 20:25] #7 closed

[2021-11-06 20:36] RocketRoss commented on #30
Ah right, I should blast that set of raw files from disk:

I believe that the issue there is that the rawfile has a PIPERBLK of 10480 which has prime factors of [2, 5, 131], the latter being exceptional and beyond scope (see [conclusion](https://github.com/UCBerkeleySETI/rawspec/issues/20#issuecomment-925339437) to #20)
[code]

I'll furnish you with 4bit data that has a power of 2 PIPERBLK.

[2021-11-08 12:14] texadactyl commented on #19
@wfarah That is similar to how I have been testing even before integration:
[code]
Compare tables using numpy.isclose() for floating-point numbers.
[code]

[2021-11-08 21:33] mattlebofsky opened #32 "Check target/ra/dec values in raw headers for entire scan"
Something that comes up from time to time is that rawspec picks the very first target name and ra and dec from the first data block and assumes that's gospel, when in fact there may be a reporting delay such that the first data block contains old values (i.e. from the previous target) and the real values don't appear in the raw data header blocks until N seconds into the scan.

I don't know what t

[2021-11-09 21:39] texadactyl commented on #30
Received and verified.

[2021-11-09 21:39] #30 closed

[2021-11-10 12:02] texadactyl opened #33 "Please review results with ATA file guppi_59229_47368_006379_40blocks.0000.raw"
@wfarah @RocketRoss

I still cannot assign @RocketRoss to an issue.  Must be a github oddity.

Yesterday, I downloaded ```guppi_59229_47368_006379_40blocks.0000.raw``` to a data centre compute node.

rawspec -f 8192 -t 2 -i  1.0  -g 3 guppi_59229_47368_006379_40blocks
[code]
Question: Why this? "number of bits per sample must be 8 or 16 (not 4), using 8 bps"

2 output files, 1 antenna file and one

[2021-11-10 16:11] RocketRoss commented on #32
Not to sound too idealistic, but isn't the preferable solution to mitigate the reporting delay?

Wouldn't rawspec failing on a change mean that you wouldn't be able to process the RAW files that had headers populated with significant reporting delays (such as in the case that gave rise to this issue)... in which case rawspec failing wouldn't be helpful, but inhibiting?

[2021-11-10 16:23] RocketRoss commented on #33
Hmmm

The `-t` argument specifies how many output spectra to accumulate (sum), effectively reducing the outermost dimension of the filterbank output by the value provided. It doesn't affect the number of output files, so in this case the 'apparent' number of coarse channels of 8192 (of all antennae) are kept and taken forward to the filterbank.

To split the output up such that each file has fine-

[2021-11-10 17:03] texadactyl commented on #33
Yes, ATA has given me .fil/.h5 files before that produced nothing interesting in doppler search.  That is why I asked.

[2021-11-10 19:01] RocketRoss commented on #32
Perhaps it'd be preferable to have an argument that enables the reading of meta data from an offset RAW header, or even just the last header of the file. That'd be quite possible I rate, and I think it should be an appropriate solution for delayed reporting?

[2021-11-12 20:07] texadactyl commented on #33
@wfarah
Based on guppi_59229_47368_006379_40blocks.0000.raw, does the output Filterbank postage stamp values make sense to you?
[code]
No hits were found by turbo_seti but that may or may not matter.

[2021-11-12 20:10] wfarah commented on #33
@texadactyl can you please remind me what those numbers mean?

[2021-11-12 20:14] texadactyl commented on #33
3x3:
Time integration row 0 :: 1st 3 fine channel column values
Time integration row 1 :: 1st 3 fine channel column values
Time integration row 2 :: 1st 3 fine channel column values

i.e. Waterfall.data[ 0:2, , 0:2 ]

[2021-11-12 22:05] texadactyl commented on #33
Reviewed with @RocketRoss and @wfarah

[2021-11-12 22:05] #33 closed

[2021-11-12 22:09] texadactyl opened #34 "Issues with nants header field and options -S, -i, and -I"
Using guppi_59229_47368_006379_40blocks.0000.raw from ATA (nants = 2), I generated the following scenarios:

[cases_nants_gt_1.pdf](https://github.com/UCBerkeleySETI/rawspec/files/7530635/cases_nants_gt_1.pdf)

My conclusions are that the following should be the only -I/--ICS and -S/--splitant option combinations when nants > 1:
* ```--ICS <weight>``` :: 1 ics .fil output and no other .fil files
*

[2021-11-12 22:25] texadactyl commented on #34
@RocketRoss @wfarah @david-macmahon

Please review.

[2021-11-13 17:42] RocketRoss commented on #34
The concurrent ics (`-i`) was the original spec (#7), and I was just following orders. The ICS product comes at very little overhead after the FFT and so it was seen as a 'free' concurrent output...

To the point though, I think that the following is sooner preferable:

If nants > 1:
- default to split antenna (individual output filterbank files)... provide flag to not split (only a long version f

[2021-11-13 17:44] RocketRoss commented on #34
Oh and having had a look at your pdf, yeah `-I -S` should cancel to one or the other... but which one... maybe it's reasonable that both specified outputs were produced...

[2021-11-17 20:42] texadactyl opened #36 "rawspec_file.c dump_file_thread_func double writes for ICS"
The Nants=1 case needed to be moved out of the embedded antenna loops and if-else into its own space..

[2021-11-17 20:49] texadactyl opened #37 "Create a --debug option for the command line."
Turn on cb_data.debug_callback if --debug is present.

[2021-11-17 20:53] #6 closed

[2021-11-17 20:55] #34 closed

[2021-11-23 16:55] texadactyl opened #39 "--ics and --splitant in same run --> unreliable output data"
This seems to be a timing issue.  If rawspec is invoked quickly enough, I have seen what appears to be data from a previous rawspec execution's GPU output buffer get incorporated as part of the first dump.

```rawspec_reset_integration(&ctx)``` will clear the the power output buffer for each output product.  I can see from rawspec.c source code that a reset is executed only in the case commented b

[2021-11-23 18:02] texadactyl commented on #39
At the moment, I am running a long loop of rawspec_testing with rawspec.c modified to execute a reset just before cleanup.

[2021-11-23 20:46] texadactyl commented on #39
The long loop ran successfly 20 times but on the 21st, ATA ant00 had the same issue as described earlier.
No issues with:
* ant01
* ics
* GBT files

[2021-11-23 23:18] texadactyl commented on #39
I finished migrating from NFS files to 100% local.  I wanted to see if NFS had something to do with the abnormal element values for ant00 data.  It didn't.  But, now reproducing this anomaly seems to be easier.

[2021-11-24 00:40] texadactyl commented on #39
I have a suspicion.  I think this issue crops up when I change GPU device IDs.  Why this happens is TBD.

- I went through 5 test cycles with GPU 2.  All is well.
- I went through 1 test cycle with GPU 3.  The ant00 symptoms reappeared.  Ant01, ics, and GBT is still fine.
- I went through 5 test cycle with GPU 2.  All is well.

[2021-11-24 13:44] texadactyl commented on #39
The attached zip file can reproduce this issue.
Do the following in order:
1. rungen.sh
2. rundiffs.sh

Note this has nothing to do with the fbh5 PR.
[issue39.zip](https://github.com/UCBerkeleySETI/rawspec/files/7596131/issue39.zip)

[2021-11-24 14:50] texadactyl commented on #39
Write-up:  https://github.com/UCBerkeleySETI/rawspec_testing/tree/main/issue39

[2021-11-24 17:58] texadactyl commented on #39
The issue seems centered on GPU ID 3 on data centre compute node blpc1.
I just ran several combinations of GPU device switches on blpc1.  It's always GPU ID 3 that is the outlier.  I cannot reproduce the symptoms on blpc2.

Rerunning with GPU 0-1-2-3 on blpc2.

[2021-11-24 19:43] texadactyl opened #40 "cuda API error returns should always be detected and processed correctly"
Questions about error handling in rawspec_gpu.cu.

[2021-11-24 22:03] texadactyl commented on #40
E.g. in rawspec_gpu.cu, line 1742:
[code]

[2021-11-24 22:05] texadactyl commented on #40
In rawspec_gpu.cu, line 1760:
[code]

[2021-11-24 22:07] texadactyl commented on #40
Not all of the rc != cudaSuccess processing call ```rawspec_cleanup(ctx)``` when they detect an error.
Should cleanup always be invoked when a cuda error is detected?

[2021-11-24 22:47] texadactyl commented on #39
Consistency testing results:
- blpc0: 0-1-2-3 all agree
- blpc1: 0-1-2 agree; gpu 3 is the outlier
- blpc2: 0-1-2 agree; gpu 3 is the outlier
- When there is disagreement in data matrix values, its always ATA ant000.
- Never issues with ATA ant001 nor with ICS.
- Never issues with GBT files.

On blpc0:
```nvidia-smi --query-gpu=gpu_name,gpu_bus_id,vbios_version --format=csv```
GeForce GTX TITAN X,

[2021-11-25 02:38] david-macmahon commented on #40
A `cudaSuccess` return value from `cudaStreamQuery` means the stream has completed.  Any other value means the stream has not completed.  This function translates a `cudaSuccess` return value into a C "true" value (i.e. non-zero) and any non-`cudaSuccess` return value into a C "false" value (i.e. zero).  Maybe NVIDIA could have invented yet another constant such as `cudaStreamComplete` to indicate

[2021-11-25 02:43] david-macmahon commented on #40
The check around line 1742 could be made better for sure.  I think the enclosing function, `rawspec_reset_integration` should return the number of output buffers that were not successfully reset/cleared.  So if they all are reset OK, `rawspec_reset_integration` will return 0 for success.  If the clearing of one buffer fails, the return value should be incremented, but the remaining output buffers

[2021-11-25 15:26] texadactyl commented on #39
Update on testing:
* Moderate amount of competing GPU traffic this Thanksgiving morning.   GPU hardware seems to be functioning fine.
* I modified the rawspec testing site parameters to run multiantenna --splitant and -ics (summing) in 2 separate rawspec runs.
* So far, I cannot reproduce the previous ant000 anomalies.
* I am cross-system testing (install on one, test on another) as well as same-c

[2021-11-25 15:44] texadactyl commented on #40
Thanks for the line 1760 explanation.

Line 1742: In rawspec.c, the only place that ```rawspec_reset_integration``` is called is in this context: "Same as previous stem, just reset for new integration".  Note that the return code is ignored.  Shouldn't rawspec exit with an error status if there is any sort of GPU failure?  FWIW, that is a very long if-then-else starting at line 555 - very hard to

[2021-11-25 17:10] texadactyl commented on #39
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

	<title></title>
	<meta name="generator" content="LibreOffice 7.1.7.2 (Linux)"/>
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Liberation Sans"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; p

[2021-12-07 18:44] wfarah opened #41 "Support for 16 and 32 bit input"
`rawspec` currently supports an 8bit and more recently a 4bit input.
The ATA beamformer will output samples at 16 and 32 bit (half and single precision float).
The beamformer output will be saved in a guppi format, which I currently assume can support this bit rate. It would be a great addition to `rawspec` to make it handle the above input bit size.
It's also common in astronomy to use 16 and 32

[2021-12-08 23:29] texadactyl commented on #41
All of my GBT testing has been with 32-bit floats.  So, this works.  I do not have access to a .raw file with 16-bit floats.
@david-macmahon : tried 16-bit floats yet?

Integer element formats?  That's another question for @david-macmahon .

The FBH5 output code doesn't care what its writing.

[2021-12-08 23:30] #40 closed

[2021-12-09 20:21] wfarah commented on #41
@texadactyl I can produce a half-precision file, but the values there will kinda be non-sense.
At least until I can calibrate the beamformer properly

[2021-12-10 07:34] david-macmahon commented on #41
rawspec currently supports 8+8 bit complex integer data and 16+16 bit integer data.  The GUPPI RAW format has historically been limited to integer data.  There is no "datatype" header field defined to indicate what type of values are in the data blocks other than `NBITS` which specifies how many bits each real/imaginary component has.  We could invent a new header field to indicate integer or floa

[2021-12-16 19:45] texadactyl commented on #37
in v3.0.0

[2021-12-16 19:45] #37 closed

[2021-12-16 19:46] texadactyl commented on #36
fixed in v3.0.0

[2021-12-16 19:46] #36 closed

[2021-12-16 19:46] texadactyl commented on #19
v3.0.0

[2021-12-16 19:46] #19 closed

[2021-12-16 19:49] texadactyl commented on #39
Successful work-around:  cannot specify both --ics and --splitant in the same run.

[2021-12-16 19:51] #39 closed

[2021-12-16 19:55] texadactyl opened #42 "--ics and --splitant in same run --> unreliable output data"
```rawspec -i ... -S ...``` occasionally leads to unreliable output to both SIGPROC filterbank files (.fil) and FBH5 filterbank files (.h5).
This has been observed several times using ```rawspec_testing```.
It has never occured when using either ```-i``` or ```-S``` without the other option.

[2021-12-16 19:56] texadactyl commented on #42
As a work-around, rawspec will not permit both options together on the same command line.

[2021-12-17 23:13] texadactyl opened #43 "rawspec.cu has produces incompatible output with testing baseline values"
After inserting #include <stdint.h> into rawspec_gpu.cu, the compilation succeeds and the execution proceeds but the SIGPROC Filterbank (.fil) output does not match 100% to the historical results in the rawspec_testing baseline.  Of the 15 spot-checks, 3 do not match.

The following appears to be a fix from testing.
Change line 4
from
```#include <stdint.h>```
to
```#include <cuda.h>```

[2021-12-18 12:35] texadactyl commented on #43
We're going with the original file but with the following modification instead.

Change line 4
from
```#include <stdint.h>```
to
```#include <cuda.h>```

[2021-12-18 12:49] texadactyl commented on #42
Question:  Is this releated to issue #43 ?

[2021-12-18 13:35] texadactyl commented on #43
Fixed in v3.0.0

[2021-12-18 13:35] #43 closed

[2021-12-21 12:05] texadactyl opened #44 "Revised error and exception processing in the fbh5 functions"
If the bitshuffle plugin is not available, we will log a warning and write the file uncompressed.

Other than unable to set an attribute and missing the bitshuffle plugin warnings (recoverable), all errors in fbh5_open are unrecoverable failures that return nonzero (permission failure, disk full, cannot create the HDF5 dataset or dataspace, etc.).

When logging attribute warnings, we will include

[2021-12-23 22:57] #44 closed

[2021-12-23 23:00] texadactyl opened #45 "When fbh5_open or fbh5_write encounters an error, not setting context inactive."
It was noticed that the input kept coming when an out of disk space was simulated.  A desk check of the source code showed that the fbh5_context.active state was still set to 1 (active).

[2021-12-23 23:26] #45 closed

[2021-12-23 23:36] texadactyl opened #46 "Add bitshuffle status and HDF5 library information to the rawspec.c -h and -v options"

[2021-12-24 13:39] #46 closed

[2021-12-24 13:46] texadactyl opened #47 "When there is an error in writing output, rawspec keeps on going"
@david-macmahon "So this is when writing has started, but there is an error part way through and rawspec keeps on chugging data through even though it is not getting written for one (or more) output products.  I think I see the conundrum.  Maybe we need a status/error flag in the callback structure that the callback function can set to indicate to the main loop that it has encountered an error con

[2021-12-25 15:51] #47 closed

[2021-12-30 14:11] texadactyl opened #48 "Correct references to HDF5 include files"
To date, fbhf_defs.h and rawspec.c use directory-specific include references:
[code]

These will be the corrected include statements:
[code]

The Makefile will be amended to point to specific directory paths as needed for compilation.

[2021-12-30 14:40] texadactyl commented on #48
Also, rawspec.c was already including fbh5_defs.h so there was no need to include H5DSpublic.h on its own.

[2021-12-30 14:43] #48 closed

[2022-01-09 03:39] dmkunsman commented on #10
@wfarah are you still working on this?...if not.  I could try to implement it.

[2022-01-13 22:54] texadactyl opened #49 "Add file level attributes for software versions"
In the output .h5 file, add file-level attributes for software versions:
* rawspec
* librawspec
* HDF5 library
* cuFFT

In addition, show whether or not bitshuffle is enabled.

[2022-01-13 23:18] lacker commented on #49
Huh, is there no way to tell whether a file uses the bitshuffle filter if you are just, say, opening it with the python h5py library? It seems like the code would have to know, in order to read it. I can't figure out how to do it though....

[2022-01-13 23:32] texadactyl commented on #49
Under the covers of the C-library, they know and the data is inflated.  There are C-level calls to find out for sure.

Come the rawspec revolution, do this:

[2022-01-13 23:34] texadactyl commented on #49
Start of h5dump looks like this:

[code]

[2022-01-14 02:08] david-macmahon commented on #49
Reading a compressed dataset is transparent unless you don't have the required decompression filters installed, in which case it will fail spectacularly.  I imagine one could open the HDF5 file and then query properties of the datasets to find out whether they are compressed, but I don't know the details of how one would do that.  From the command line, you can use `h5dump` to see whether any "fil

[2022-01-14 13:17] texadactyl opened #50 "Split up the librawspec version string"
Historically, rawspec constructed the librawspec version string as a combination of:
* librawspec version
* cuFFT version

They have been separated into 2 separate strings and handled appropriately in rawspec.cu, rawspec.c, and fb_open.c.

[2022-01-14 14:57] #49 closed

[2022-01-14 14:57] #50 closed

[2022-01-14 15:07] texadactyl commented on #10
@wfarah @RocketRoss

[2022-01-14 15:10] texadactyl commented on #41
@wfarah
Have you reached consensus with @david-macmahon ?
Does this issue need a redefinition or ?

[2022-01-14 15:54] RocketRoss commented on #10
I haven't double checked the mechanisms around this. I feel like we would've noticed if something was off

[2022-01-30 13:56] texadactyl opened #51 "Resize cb_data fd array regardless of output file type"
2 symptoms were caused because of ```rawspec.c``` mishandling multiantenna cleanup:
* While processing one multiantenna .raw file (MeerKAT), a ```free``` resulted in a segmentation fault.
* While processing another, the fbh5 context was overrun.

@david-macmahon provided the fix to ```rawspec.c```.  This has been regression tested and verified with the files that exhibited the symptoms.

[2022-01-30 13:57] #51 closed

[2022-01-30 18:31] texadactyl opened #52 "GMRT SETI is having evolving issues concerning getting started with rawspec"
Starting with ```rawspec``` v3.1.1, GMRT is seeing crashes.  This issue will be updated as more and more information becomes available.

The current (2022-01-30) header information:

[code]

cc: @david-macmahon @Akshay-E @RaghavGirgaonkar

[2022-01-30 18:38] texadactyl commented on #52
Is this related to issue #10 ?

[2022-01-30 18:51] texadactyl commented on #52
Since DIRECTIO = 0, the first data block should start immediately after the 80-byte END record.
@Akshay-E @RaghavGirgaonkar : Is this the case?

[2022-01-30 18:57] Akshay-E commented on #52
Yes, the data writing starts after the END keyword in the header. There are 82 lines, so 6560 bytes of header and then data.

[2022-01-30 19:16] texadactyl commented on #52
@Akshay-E Please show the 2 command lines used

[2022-01-30 19:20] Akshay-E commented on #52
rawspec -j -z -f 1024 -t 1 NEW_TEST_guppi # for h5 file
rawspec -z -f 1024 -t 1 NEW_TEST_guppi    # for .fil file

[2022-01-30 19:25] texadactyl commented on #52
Odd:  You used -f 1024 yet the FFTLEN in the header = 2048.

[2022-01-30 19:43] david-macmahon commented on #52
`FFTLEN` is a vestigal header keyword that `rawspec` ignores.

[2022-01-30 19:45] david-macmahon commented on #52
Is this single dish data???  For a telescope array like GMRT I would have expected a `NANTS` header with value greater than 1, but there is no `NANTS` header so it is treated as if `NANTS=1`.

[2022-01-30 19:50] Akshay-E commented on #52
@david-macmahon This is only a trial observation data set that we are using recorded with a single dish for the pulsar B0329+54.

[2022-01-30 19:52] Akshay-E commented on #52
Our guppi raw file has 2048 channels. So using `-f 1024`  while running rawspec means we are creating 1024 fine channels per 2048 coarse channel right ?

[2022-01-30 19:53] david-macmahon commented on #52
Does this file exist at the Berkeley data center?

[2022-01-30 19:58] Akshay-E commented on #52
No, not right now. If it's needed I can try adding this to blpc1 tomorrow.

[2022-01-30 20:28] david-macmahon commented on #52
Even just the first header and data block would be useful (and easier/quicker to copy).  If you know the header contains 6560 bytes and the data block contains 134217728 bytes you can make a raw file `oneblock.0000.raw` containing just the first header+data block using this command:
[code]

[2022-01-30 23:41] texadactyl commented on #52
@Akshay-E @RaghavGirgaonkar
Please run gdb on the rawspec failure case (h5) and post the resultant stack trace here:
[code]

[2022-01-31 05:29] RaghavGirgaonkar commented on #52
This is the output after running the `gdb` command mentioned above:
`(gdb) run
Starting program: /Data/eakshay/rawspec/rawspec -j -z -f 1024 -t 1 NEW_TEST_guppi
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
rawspec 3.1.1+dirty using librawspec 3.1.1+dirty and cuFFT  unknown/old
writing output files in FBH5 format
working stem: NEW_TEST_gu

[2022-01-31 05:34] RaghavGirgaonkar commented on #52
The above command creates a H5 file, but the command `gdb --args 'rawspec' '-j' '-z' '-f' '1' '-t' '1' 'NEW_TEST_guppi'` gives the following output:

[code]

[2022-01-31 08:38] RaghavGirgaonkar commented on #52
I have uploaded two files in `blpc1`  one with padding in the header and one without. Each file has one block and one header. The paths for the files are:
`/datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_withpadding.0000.raw`
`/datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_NOpadding.0000.raw`

One should have file size = `6560+134217728 = 1342

[2022-01-31 13:20] texadactyl commented on #52
SOmething is not quite right with both of them:

[2022-01-31 13:25] texadactyl commented on #52
Something is not correct with both of them:
[code]
-rw-rw---- 1 raghav root 129M Jan 31 00:21 oneblock_NOpadding.0000.raw
-rw-rw---- 1 raghav root 129M Jan 31 00:20 oneblock_withpadding.0000.raw

Permission denied detected in rawhdr

[2022-01-31 13:32] texadactyl opened #53 "rawspec is not reporting .raw file permission denied"
E.g.
[code]
but blimpy rawhdr reveals on the same file:
[code]

[2022-01-31 14:13] texadactyl commented on #52
rawspec is reporting 0 spectra in both files.

[2022-01-31 14:19] texadactyl commented on #52
WITHPAD='/datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_withpadding.0000.raw'
NOPAD='/datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_NOpadding.0000.raw'

rawspec -j -z -f 1024 -t 1 -d . $NOPAD
rawspec -j -z -f 1024 -t 1 -d . $WITHPAD

[2022-01-31 14:23] texadactyl commented on #52
I can see that both files are 129 M

[2022-01-31 14:23] RaghavGirgaonkar commented on #52
If I use the same command but without the `-j` option I am getting the following:

[code]

[2022-01-31 14:24] RaghavGirgaonkar commented on #52
@texadactyl The file sizes may sem to be 129 M but on doing `ls -ltr`, these are the real sizes in bytes

[code]

[2022-01-31 14:25] texadactyl commented on #52
rawspec 3.1.1+dirty using librawspec 3.1.1+dirty and cuFFT 10.2.1.245
writing output files in SIGPROC Filterbank format
working stem: /datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_withpadding.0000.raw
opening file: /datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/oneblock_withpadding.0000.raw.0000.raw [No such file or directory]
output product 0: 0 spe

[2022-01-31 14:26] RaghavGirgaonkar commented on #52
@texadactyl In your case, it's taking the filename as the stem I think

[2022-01-31 14:26] texadactyl commented on #52
My comment about file size was about both of them containing data, not accuracy

[2022-01-31 14:27] texadactyl commented on #52
I need my morning coffee!

[2022-01-31 14:27] RaghavGirgaonkar commented on #52
I think the command you should run is:

[code]

[2022-01-31 14:29] texadactyl commented on #52
Ok, in fbh5 mode, I can process the first block without any errors
[code]

[2022-01-31 14:30] texadactyl commented on #52
So, it the issue in transition to block 2?

[2022-01-31 14:41] texadactyl commented on #52
Ran turbo_seti on produced .h5 file.
[code]

[2022-01-31 14:43] texadactyl commented on #52
No pad case was the same:
[code]

[2022-01-31 14:46] RaghavGirgaonkar commented on #52
@texadactyl Can you point me to the installation of `rawspec` you are using on `blpc1` and how to source it? The one we have by default doesn't have the `fbh5` option.  I have a larger GUPPI Raw file that I have on blpc1 which has more than 3 blocks. I could point to you and also run it on that and check if it works.

[2022-01-31 14:55] texadactyl commented on #52
Install rawspec under your $HOME

[2022-01-31 14:56] texadactyl commented on #52
Pls identify the larger file

[2022-01-31 15:10] texadactyl commented on #52
When you run turboSETI, if you see any stupid lock error messages, this will probably fix it:
```export HDF5_USE_FILE_LOCKING='FALSE'```

[2022-01-31 15:41] RaghavGirgaonkar commented on #52
@texadactyl The larger file is at `/datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/TEST_padding_v2_guppi.0000.raw`

This has probably around 34 blocks

[2022-01-31 15:58] texadactyl commented on #52
writing output files in FBH5 format
working stem: /datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/TEST_padding_v2_guppi
opening file: /datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/TEST_padding_v2_guppi.0000.raw
opening file: /datax/scratch/AMITY_INDIA/raghav/GSB_iFFT_pipeline/PASV_to_GUPPI/TEST_padding_v2_guppi.0001.raw [No such file or directory]
output produ

[2022-01-31 18:08] texadactyl commented on #53
I must have missed ```opening file: oneblock_withpadding.0000.raw [Permission denied]```

[2022-01-31 18:08] #53 closed

[2022-02-01 15:37] #52 closed

[2022-02-01 21:55] texadactyl opened #54 "H5 string attributes should mimic what blimpy hdf_writer creates"
Change
[code]
to
[code]

[2022-02-02 13:42] texadactyl opened #55 "Need optimisation for chunk dimensions"
The current chunk strategy is not working optimally for turbo_seti.

[2022-02-02 13:56] texadactyl commented on #55
Today, this is the blimpy strategy one can see in waterfall.py, as used by ```fil2h5```:
![image](https://user-images.githubusercontent.com/11318756/152167543-903d97ba-2b8d-4983-ade3-a263e7d3e2b3.png)

[2022-02-02 13:58] texadactyl commented on #55
Initially, rawspec v3 has been using uniformly: (1, 1, <number of fine channels>).
This causes degradation in readers such as turbo_seti.

[2022-02-03 18:03] texadactyl opened #56 "Wrong plugin path is shown when HDF5_PLUGIN_PATH is in force"
Without environment variable HDF5_PLUGIN_PATH set, ```rawspec -v``` shows the correct plugin path.
[code]
However, when the environment variable is set, the display is the same.

**Fix**:  Get the environment variable.  If set (not NULL), use its value.  Else, use the default path value as shown above.

[2022-02-03 18:29] texadactyl commented on #56
Verified as working both ways.

[2022-02-03 18:29] #56 closed

[2022-02-04 19:00] texadactyl commented on #55
@david-macmahon from Seti BL slack:

Change the chunk size logic such that
* The frequency dimension = min(nfpc, 65536)
* The time dimension is max(Nd, 16)

Only concern is that for nfpc=2^20 and Nc=64, we will have 1024 "active" chunks for the high frequency resolution product.  That might not play well with the chunk cache, so performance testing this idea would be critical.  I think it would ma

[2022-02-08 23:43] texadactyl commented on #55
**fbh5_open.c state**

Control chunking withhunking selection log
```int         USE_BLIMPY = 1;     // 1 : use blimpy's algorithm; 0 : don't do that```

Control caching with
```int         CACHING_TYPE = 1;       // 0 : no caching ; 1 : computed caching specifications; 2 : default caching```

[2022-03-11 02:06] siemion commented on #41
nbits=32 is widely recognized implicitly in pulsar land as meaning floating point.  I think NBITS = 32 is a reasonable hack at this point

[2022-03-11 11:08] radonnachie commented on #41
When it comes to how to trigger the `integer_data` flag, I believe we need primarily to decide how we want other programs to react to floating point data: do we want them to :one: break/error out/scream, or do we want them to :two: merely continue ignorantly.
Negative NBITS values as a flag should fall into intention :one:.
A new FITS key-value such as DATATYPE!='INTEGER' should fall into intentio

[2022-03-12 10:42] texadactyl opened #59 "In the case of 'fil' extension, space for the termination character is needed"
See PR #57

 rawspec_file.c
open_output_file()

[2022-03-12 10:59] #59 closed

[2022-03-15 09:30] radonnachie opened #60 "Incongruous NBEAM (instead of NBEAMS)"
As a part of enabling [floating point data ingest](https://github.com/UCBerkeleySETI/rawspec/pull/58), which is the output of a beamformer, I adjusted the FITS header from NBEAM to NBEAMS. I similarly adjusted the `rawspec_raw_hdr_t` field.

I found the lack of an 's' to be out of sorts with NANTS in particular. It seems that the `fb_hdr_t` structure agrees with me.

I just want to confirm whether

[2022-03-15 09:33] radonnachie commented on #60
The change in field so far has affected `hpguppi_daq:hpguppi_rawspec.c`, and all authors of the NBEAMS key-value, obviously.

[2022-03-15 10:00] david-macmahon commented on #60
In what commit was NBEAM introduced?

[2022-03-15 15:02] radonnachie commented on #60
https://github.com/UCBerkeleySETI/rawspec/commit/13b7f0b9bd33d82958701bd76be8738a564de22b
4 years ago

[2022-05-19 18:42] texadactyl opened #61 "rawspec_initialize needs better Nbps diagnosis and comment cleanup."
[code]

Nbps = raw hdr NBITS.  According to according to the raw file document https://github.com/UCBerkeleySETI/breakthrough/blob/master/doc/RAW-File-Format.md, 3 values are valid:
* "8": 1 sample occupying 2 bytes: 8-bit real, 8-bit imaginary
* "4" 1 sample occupying 1 byte: 4-bit real, 4-bit imaginary
* "2" 2 samples occupying 1 byte:
-- sample1: 2-bit real, 2-bit imaginary
-- sample2: 2-bit re

[2022-05-19 20:56] #61 closed

[2022-06-01 12:10] radonnachie commented on #60
@david-macmahon I'd love to resolve this minor issue :)

[2022-06-01 12:15] radonnachie commented on #60
#41

[2022-06-03 13:16] radonnachie opened #63 "CUDA 11.6+ no longer include samples: helper_cuda.h not found"
CUDA as of 11.6 no longer includes the samples ([link](https://docs.nvidia.com/cuda/cuda-samples/index.html#getting-started-with-cuda-samples)).
They're provided https://github.com/nvidia/cuda-samples but with a different structure: namely `common/inc` is now `Common`, I've found that copying the latter to the former appeases compilation.

[2022-06-03 15:56] lacker commented on #63
Do you know where does rawspec depend on the cuda samples in the first place? They aren't really intended to be part of the public API.

[2022-06-03 15:59] radonnachie commented on #63
without that header file: `_cudaGetErrorEnum` is missing. Seems to be the only use case?

[2022-06-03 16:00] radonnachie commented on #63
That's a decent portion of the code in [`helper_cuda.h`](https://github.com/NVIDIA/cuda-samples/blob/master/Common/helper_cuda.h)

[2022-06-03 16:02] radonnachie commented on #63
Copyright seems fairly open, I rate just cutting what we need would be better...

[2022-06-03 16:05] lacker commented on #63
It looks like `_cudaGetErrorEnum` in that sample file is just ifdef'd to different things depending on build environment. Maybe we can just call the one we want directly?

[2022-06-03 16:55] radonnachie commented on #63
I like the architecture agnosticism the header provided

[2022-06-03 18:35] david-macmahon commented on #63
Actually, a `git blame` on that file shows that it was by me in the "Initial commit" 5 years(!) ago.  I agree with Kevin that we should not depend on the samples code.  It's actually kind of a funny function.  It seems to be tailored more to various CUDA "packages" or APIs (e.g. CUBLAS, CUFFT, etc) than to generic error handing.  We might actually want to use the `__DRIVER_TYPES_H__` definition fo

[2022-06-03 19:51] radonnachie commented on #63
I can look in to that. Sounds preferable to mindlessly copying cuda_helper.

[2022-06-16 14:43] radonnachie opened #65 "GUPPI RAW output mode"
It'd be helpful in a number of scenarios to be able to upchannelise the data and save that data as GUPPI RAW. Namely because a few tools ingest RAW but have no simple way to upchannelise in situ.

[2022-06-26 04:38] lacker opened #66 "PIPERBLK unused?"
I noticed some other code reading raw files and claiming that the PIPERBLK field had to be used to find missing blocks. However rawspec doesn't seem to use this field at all. It seems like the logic to detect missing blocks calculates PIPERBLK (calling it dpktidx) by subtracting the first two PKTIDX's it sees:

https://github.com/UCBerkeleySETI/rawspec/blob/15790b12062ce11fc6c96cea473d2cc6adb556a6

[2022-06-26 05:03] david-macmahon commented on #66
PIPERBLK is "Packet Index PER BLocK".  It is the expected increment in PKTIDX ("PacKeT InDeX") from one block to the next.  Not all GUPPI RAW files have PIPERBLK in the header.  PIPERBLK is used to detect "missing" blocks, which need to be processed as blocks of zeros to keep the integrations evenly spaced.  When PKTIDX is missing, the best we can do is derive it by taking the difference between t

[2022-06-26 05:11] lacker commented on #66
That makes sense. My point is just that rawspec isn't actually using the PIPERBLK header. It always does the "derive it by hoping there are no missing blocks in between the first two" thing.

[2022-06-27 23:58] david-macmahon opened #67 "rawspec ignores AZ and ZA GUPPI RAW headers"
rawspec ignores the `AZ` and `ZA` GUPPI RAW headers.  These values should be read from the first RAW file of a sequence (i.e. the `*.0000.raw` file) and used to populate fields (not yet present) in `rawspec_raw_hdr_t` which should then be used to populate the `az_start` and `za_start` fields of a `fb_hdr_t` instance.  Because these fields are currently ignored, the `az_start` and `za_start` fields

[2022-07-19 16:35] siemion commented on #65
This actually came up in the past, and indeed it would be an extremely useful feature.  It would also be good if this mode included the option to selectively write out subsets of a single coarse channel (e.g. upchannelize only a single coarse channel, and then only write out a subset of that channel, for the purposes of extracting complex voltages around a signal of interest).  It would also be in

[2022-07-19 16:44] radonnachie commented on #65
I've just completed a GuppiRAW C library that has file-output capabilities. I'll look to implement this feature soon.

[2022-07-26 16:55] radonnachie commented on #65
We'll probably want to optionally requantize to integer at the end. That introduces a large task, that I'll leave to a subsequent issue and PR. Initially all guppi outputs will be floating point.

[2022-08-19 18:48] texadactyl opened #70 "rawspec failing on ATA_guppi_59730_78085_225768981_J0332+5434_off_0001-beam0000"
[code]

It must be one of the 2 commits after June 1st because regression testing was successful that day.
See https://github.com/UCBerkeleySETI/rawspec/commits/master

@radonnachie Is this file no longer valid?  I got it from you: https://github.com/UCBerkeleySETI/rawspec_testing/commit/9a36ae2ce6413d5147b274b0f9d7518f04a335c1

[2022-08-19 19:00] texadactyl opened #71 "rawspec_reset_integration must return an error when cudaMemset fails"
in rawspec_gpu.cu, rawspec_reset_integration starts at line 1754.
[code]

[2022-08-19 19:11] texadactyl opened #72 "rawspec.c should write "bad obsnchan/nants: 192 % 20 != 0" to stderr"
In rawspec.c, line 585, the error message is being written to stdout; it should go to stderr.

[code]

[2022-08-19 19:21] texadactyl commented on #70
@wfarah I have tried to assign @radonnachie but he does not appear in the assignee list (?).  Basically, it seems like a file that Ross gave me is no longer valid because obsnchan/nants: 192 % 20 != 0.  Maybe we can replace this file?

[2022-08-19 22:49] radonnachie commented on #70
Yeah it is invalid because it required the NBEAMS override of NANTS that I've recently redacted from #58. The NANTS value in this beam file should be 1.

[2022-08-19 23:30] texadactyl commented on #70
@radonnachie Is a replacement available?

[2022-08-20 10:48] radonnachie commented on #70
I have just run `rsync -av /mnt/buf1/blade/GUPPI/./guppi_59811_38723_118314086_AzEl_0001-beam0001.0000.raw rsync://blpd18.ssl.berkeley.edu/datax/` and manually inspected it to have `NANTS=1`, `NBEAM=2` and `BEAM_ID=1`.

Prior to that I transferred `rsync -av /mnt/buf0/blade/GUPPI/./guppi_59811_38073_118274414_AzEl_0001-beam0000.0001.raw rsync://blpd18.ssl.berkeley.edu/datax/`, which has `NANTS=1`

[2022-08-20 15:28] texadactyl commented on #70
@radonnachie
Downloaded:

[2022-08-20 15:38] texadactyl commented on #70
@radonnachie
Downloaded:
[code]
Prepended "ATA_" to file name.
Tried to use it:
[code]

"BLOCSIZE not found in header"?

watutil -i ATA_guppi_59811_38723_118314086_AzEl_0001-beam0001.rawspec.0000.h5
[code]
nfpc=1?  Number of fine channels per coarse channel = FFT length = 1?  True?
How does that Waterfall info display look to you?

[2022-08-20 15:49] texadactyl commented on #70
Tried both seticore and turbo_seti on the h5.  Both crashed.  Not surprised.

[2022-08-20 16:39] texadactyl commented on #70
@radonnachie The new file successfully replaces the old one in rawspec_testing.  I will try out the floating_point PR now that this is resolved.

[2022-08-20 16:39] #70 closed

[2022-08-20 16:40] #71 closed

[2022-08-20 16:40] #72 closed

[2022-08-20 18:28] radonnachie commented on #70
The waterfall header-info displayed looks good to me. The nfpc is surely the result of `-f`, as you said the FFT length. In reality we'd probably really want to get to 1 Hz wide fine channels, so `-f 524288`. That would require much more coarse time though, for even a single fine-spectra output. It seems I only provided you with 32*1536=49152 time samples. Thanks @texadactyl!